<!DOCTYPE html>
<html>
<head>
  <title>Onequiz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">
</head>
<body>
	<header>
		<div class="col-xs-12 welcome">
			Welcome to Onequiz!
		</div>
		<div class="col-xs-12 blurb">
		Proudly hacked with help from theFirehoseProject
	</div>
</header>

<br class="clear" />

<%= yield %>

</body>
</html>
